.todo-list {
  .in-progress {
    height: 32px;
    width: 122px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
}
// Pop up menu in table
.menu-container {
  width: 16%;
  padding: 5px;
}

// input container max width 142 in quantity input from range form
.container-wd-142 {
  max-width: 142px;

  & > .qty-input {
    max-width: 100%;
  }
}

.container-wd-mobile {
  max-width: calc(50% - 4px);

  & > .qty-input {
    max-width: 100%;
  }
}

// input container max width 292 in range inputs from range form
.container-wd-292 {
  max-width: 292px;

  & > .range-input {
    max-width: 50%;
  }
}
.onboarding-input-field .q-field__native::placeholder {
  color: gray; /* Set the placeholder color to gray */
}
.input-task {
  width: 456px;
  height: 80px;
  top: 214px;
  left: 544px;
}
.checkbox-custom {
  margin-left: 8px;
  .q-checkbox__inner {
    font-size: 1.2em;

    &:before {
      border-width: 2px;
    }
  }
}

// Add space for checkbox column
.q-item__section--avatar {
  min-width: 48px;
  padding-right: 8px;
}
